* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#modal-success-container,
#modal-card-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 9999;
}
#modal-success-container .modal--background,
#modal-card-container .modal--background {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  position: absolute;
}
#modal-success-container .modal,
#modal-card-container .modal {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: 0;
  height: 0;
  padding: 45px 75px;
  z-index: 1500;
}
#modal-success-container .modal h3,
#modal-card-container .modal h3 {
  font-size: 30px;
  color: #212121;
  display: block;
  margin-bottom: 0;
  position: relative;
}
#modal-success-container .modal p,
#modal-card-container .modal p {
  font-size: 15px;
  text-align: center;
  color: #5C5C5C;
  display: block;
  margin-bottom: 30px;
  position: relative;
}
#modal-success-container .modal .modal-close,
#modal-card-container .modal .modal-close {
  position: absolute;
  margin-top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background: url('/local/templates/nutrien/images/delete-cross.svg') no-repeat center center;
}
#modal-success-container .modal .modal-close:hover,
#modal-card-container .modal .modal-close:hover {
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
  cursor: pointer;
}
#modal-success-container .modal .modal--svg,
#modal-card-container .modal .modal--svg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  z-index: -1;
}
#modal-success-container .modal .modal--svg rect,
#modal-card-container .modal .modal--svg rect {
  stroke: #fff;
  stroke-width: 2px;
}
#modal-success-container.animate_modal,
#modal-card-container.animate_modal {
  transform: scale(1);
}
#modal-success-container.animate_modal .modal--background,
#modal-card-container.animate_modal .modal--background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  width: 100%;
  height: 100vh;
}
#modal-success-container.animate_modal .modal,
#modal-card-container.animate_modal .modal {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  position: fixed;
  width: 520px;
  height: 255px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#modal-success-container.animate_modal .modal h3,
#modal-card-container.animate_modal .modal h3,
#modal-success-container.animate_modal .modal p,
#modal-card-container.animate_modal .modal p,
#modal-success-container.animate_modal .modal .modal-close,
#modal-card-container.animate_modal .modal .modal-close,
#modal-success-container.animate_modal .modal .btn,
#modal-card-container.animate_modal .modal .btn {
  opacity: 0;
  animation: modalContentFadeIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
#modal-success-container.animate_modal .modal h3,
#modal-card-container.animate_modal .modal h3 {
  text-align: center;
}
#modal-success-container.animate_modal .modal p,
#modal-card-container.animate_modal .modal p {
  margin-top: 10px;
}
#modal-success-container.animate_modal .modal .btn,
#modal-card-container.animate_modal .modal .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}
#modal-success-container.animate_modal .modal .modal--svg rect,
#modal-card-container.animate_modal .modal .modal--svg rect {
  animation: none;
}
#modal-card-container .modal {
  width: 500px !important;
  height: 90% !important;
  overflow: hidden;
  padding: 20px;
}
#modal-card-container .modal .modal_card_img {
  width: 100%;
  height: 100%;
  -webkit-background-size: contain !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes sketchIn {
  0% {
    stroke-dashoffset: 1820;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 1820;
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0 !important;
    top: -20px;
  }
}
@media screen and (max-width: 520px) {
  #modal-card-container .modal {
    width: 90% !important;
    height: 90% !important;
    overflow: hidden;
    padding: 10px;
  }
  #modal-card-container .modal .modal_card_img {
    -webkit-background-size: cover !important;
    background-size: cover !important;
  }
}
/*# sourceMappingURL=modals.css.map */